.previews{
  display: flex;
}

.preview-image{
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}

.other-images {
  display: flex;
  justify-content: space-between;
}

.other-image {
  margin-right: 10px;
}

.preview-other-image{
  height: 250px;
  width: 250px;
  object-fit: contain;
}
